
html {
    background-image: url(LUMIERES\ \(4\).JPG);
    background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
color: aliceblue;

}

body {
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-align: center;
    
}
nav {

}

section {

}